<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerAdress" value="THEMACHINE\MYMACHINE "/>
		<add key="DatabaseName" value="OlgunKart"/>
		<add key="UsrName" value="Mertay"/>
		<add key="Pw" value="02040204"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>